<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.droid.backupphone">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.login.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.login.SignUpActvity"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.DashboardActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.contact.ContactSyncActivity"
            android:label="@string/title_activity_contact_sync"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.contact.PhoneContactActivity"
            android:label="@string/title_activity_phone_contact"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.contact.CloudContactActivity"
            android:label="@string/title_activity_cloud_contact"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>